---
layout: layouts/home.njk
title: 首页
permalink: /index.html
---
{% import "partials/content-tree.njk" as contentTree %}
{% set rootPrefix = page.url | pathToRoot %}

<section class="content-tree-panel content-tree-panel-home">
  <h1 class="content-tree-heading">博客</h1>
  {{ contentTree.render(collections.postTree.roots, page.url, [], true, rootPrefix) }}
</section>
